<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register v2</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

    <!-- STYLESHEETS -->
    <style type="text/css">
            [fuse-cloak],
            .fuse-cloak {
                display: none !important;
            }
        </style>
    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" th:href="@{/icons/fuse-icon-font/style.css}">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/animate.css/animate.min.css}">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/pnotify/pnotify.custom.min.css}">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/nvd3/build/nv.d3.min.css}" />
    <!-- Perfect Scrollbar -->
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css}" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/fuse-html/fuse-html.min.css}" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/register.css}">
    <!-- / STYLESHEETS -->

    <!-- JAVASCRIPT -->
    <!-- jQuery -->
    <script type="text/javascript" th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" th:src="@{/vendor/mobile-detect/mobile-detect.min.js}"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript" th:src="@{/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js}"></script>
    <!-- Popper.js -->
    <script type="text/javascript" th:src="@{/vendor/popper.js/index.js}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" th:src="@{/vendor/bootstrap/bootstrap.min.js}"></script>
    <!-- Nvd3 - D3 Charts -->
    <script type="text/javascript" th:src="@{/vendor/d3/d3.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/nvd3/build/nv.d3.min.js}"></script>
    <!-- Data tables -->
    <script type="text/javascript" th:src="@{/vendor/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/datatables-responsive/js/dataTables.responsive.js}"></script>
    <!-- PNotify -->
    <script type="text/javascript" th:src="@{/vendor/pnotify/pnotify.custom.min.js}"></script>
    <!-- Fuse Html -->
    <script type="text/javascript" th:src="@{/vendor/fuse-html/fuse-html.min.js}"></script>
    <!-- Main JS -->
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <!-- / JAVASCRIPT -->
    
</head>

<body class="layout layout-vertical layout-left-navigation layout-below-toolbar">
    <main>
        <div id="wrapper">
            <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
                <div class="aside-content-wrapper">

                    <div class="aside-content bg-primary-700 text-auto">

                        <div class="aside-toolbar">

                            <div class="logo">
                                <span class="logo-icon">S</span>
                                <span class="logo-text">Stive</span>
                            </div>

                            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                                <i class="icon icon-backburger"></i>
                            </button>

                        </div>

                        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

                            <li class="nav-item" role="tab" id="heading-authentication">

                                <ul id="collapse-authentication" class='collapse show' role="tabpanel" aria-labelledby="heading-authentication" data-children=".nav-item">

                                    <li class="nav-item">
                                        <a class="nav-link ripple active" href="pages-auth-register-v2.html" data-url="pages-auth-register-v2.html">

                                            <span>Register v2</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </aside>
            <div class="content-wrapper">
                <nav id="toolbar" class="bg-white">

                    <div class="row no-gutters align-items-center flex-nowrap">

                        <div class="col">

                            <div class="row no-gutters align-items-center flex-nowrap">

                                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                                    <i class="icon icon-menu"></i>
                                </button>

                                <div class="toolbar-separator d-block d-lg-none"></div>

                                <div class="shortcuts-wrapper row no-gutters align-items-center px-0 px-sm-2">

                                    <div class="shortcuts row no-gutters align-items-center d-none d-md-flex">

                                        <a href="apps-chat.html" class="shortcut-button btn btn-icon mx-1">
                                            <i class="icon icon-hangouts"></i>
                                        </a>

                                    </div>
                                    
                                </div>

                                <div class="toolbar-separator"></div>

                            </div>
                        </div>

                        <div class="col-auto">

                            <div class="row no-gutters align-items-center justify-content-end">

                                <!-- <div class="user-menu-button dropdown">

                                    <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="avatar-wrapper">
                                            <img class="avatar" src="/images/avatars/profile.jpg">
                                            <i class="status text-green icon-checkbox-marked-circle s-4"></i>
                                        </div>
                                        <span class="username mx-3 d-none d-md-block">John Doe</span>
                                    </div>

                                    <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">

                                        <a class="dropdown-item" href="#">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <i class="icon-account"></i>
                                                <span class="px-3">My Profile</span>
                                            </div>
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <i class="icon-email"></i>
                                                <span class="px-3">Inbox</span>
                                            </div>
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <i class="status text-green icon-checkbox-marked-circle"></i>
                                                <span class="px-3">Online</span>
                                            </div>
                                        </a>

                                        <div class="dropdown-divider"></div>

                                        <a class="dropdown-item" href="#">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <i class="icon-logout"></i>
                                                <span class="px-3">Logout</span>
                                            </div>
                                        </a>

                                    </div>
                                </div> -->

                                <div class="toolbar-separator"></div>

                                <button type="button" class="search-button btn btn-icon">
                                    <i class="icon icon-magnify"></i>
                                </button>

                                <div class="toolbar-separator"></div>

                                <div class="language-button dropdown">

                                    <div class="dropdown-toggle ripple row align-items-center justify-content-center no-gutters px-0 px-sm-4" role="button" id="dropdownLanguageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="row no-gutters align-items-center">
                                            <img class="flag mr-2" src="/images/flags/us.png">
                                            <span class="d-none d-md-block" th:text="#{idiomaDefecto}"></span>
                                        </div>
                                    </div>

                                    <div class="dropdown-menu" aria-labelledby="dropdownLanguageMenu">

                                        <a class="dropdown-item" href="#">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <img class="flag" src="/images/flags/us.png">
                                                <span class="px-3" th:text="#{ingles}" onclick="cambiarLenguaje('register','en')"></span>
                                            </div>
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <img class="flag" src="/images/flags/es.png">
                                                <span class="px-3" th:text="#{espanol}" onclick="cambiarLenguaje('register','en')"></span>
                                            </div>
                                        </a>

                                        <!-- <a class="dropdown-item" href="#">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <img class="flag" src="/images/flags/tr.png">
                                                <span class="px-3">Turkish</span>
                                            </div>
                                        </a> -->
                                    </div>
                                </div>

                                <div class="toolbar-separator"></div>
                                
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="content custom-scrollbar">

                    <div id="register-v2" class="row no-gutters">

                        <div class="intro col-12 col-md light-fg">

                            <div class="d-flex flex-column align-items-center align-items-md-start text-center text-md-left py-16 py-md-32 px-12">

                                <div class="logo bg-secondary mb-8">
                                    <!-- <span>F</span> -->
                                    <img src="/images/logoInnside.jpg">
                                </div>

                                <div class="title" th:text="#{bienvenida}">
                                    
                                </div>
                                
                                <!-- <div>
                                	<span th:utext="${successMessage}"></span>
                                </div> -->

                                <!-- <div class="description pt-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
                                </div> -->

                            </div>
                        </div>

                        <div class="form-wrapper col-12 col-md-auto d-flex justify-content-center p-4 p-md-0">

                            <div class="form-content md-elevation-8 h-100 bg-white text-auto py-16 py-md-32 px-12">

                                <div class="title h5" th:text="#{crearCuenta}"></div>
                                
                                <div th:if="${save eq 'success'}">
							       <div class="alert alert-success alert-dismissible" role="alert">
							       		<p th:text="#{registroExitoso}" align="center"></p>
							       </div>
							    </div>
                                
                                <form name="registerForm" novalidate class="mt-8" autocomplete="off" action="#" th:action="@{/register}"
										th:object="${user}" method="post">
                                
                                <div class="alert alert-danger alert-dismissible" id="panelMensajes" th:if="${#fields.hasErrors('*')}">
									<p id="hLineError" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</p>
								</div>

                                <!-- <div class="description mt-2">Sed mollis velit facilisis facilisis viverra</div> -->

                                

                                    <div class="form-group mb-4">
                                        <input type="text" th:field="*{name}" class="form-control" id="registerFormInputName" aria-describedby="nameHelp" required="required"/>
                                        <label for="registerFormInputName" th:text="#{nombre}"></label>
                                    </div>

                                    <div class="form-group mb-4">
                                        <input type="email" th:field="*{email}" class="form-control" id="registerFormInputEmail" aria-describedby="emailHelp" 
                                        placeholder="Email" required="required"/>
                                        <label for="registerFormInputEmail" th:text="#{correoElectronico}"></label>
                                    </div>

                                    <div class="form-group mb-4">
                                        <input type="password" class="form-control" id="registerFormInputPassword" th:field="*{password}" 
                                        placeholder="Password" required="required"/>
                                        <label for="registerFormInputPassword" th:text="#{password}"></label>
                                    </div>

                                    <div class="form-group mb-4">
                                        <input type="password" class="form-control" id="registerFormInputPasswordConfirm" th:field="*{confirmPassword}" 
                                        required="required"/>
                                        <label for="registerFormInputPasswordConfirm" th:text="#{confirmarPassword}"></label>
                                    </div>

                                    <div class="terms-conditions row align-items-center justify-content-center pt-4 mb-8">
                                        <div class="form-check mr-1 mb-1">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" th:field="*{aceptaTerminos}" aria-label="Remember Me" />
                                                <span class="checkbox-icon"></span>
                                                <span th:text="#{aceptaTerminos}"></span>
                                            </label>
                                        </div>
                                        <a href="#" class="text-secondary mb-1" th:text="#{terminosCondiciones}"></a>
                                    </div>

                                    <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG IN" th:text="#{crearMiCuenta}">
                                        
                                    </button>
                                    
                                    <!-- <span th:utext="${successMessage}"></span> -->

                                </form>

                                <div class="login d-flex flex-column flex-sm-row align-items-center justify-content-center mt-8 mb-6 mx-auto">
                                    <span class="text mr-sm-2" th:text="#{yaTieneCuenta}"></span>
                                    <a class="link text-secondary" th:href="@{/login}" th:text="#{ingresar}"></a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </main>
</body>

</html>